@media (max-width: 900px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
.card-body-body{
    width: 100%;
}
.card-body-body__image{
    width: 100%;
}
.card-body-body__content{
    width: 100%;
}
}
