@media(max-width:426px){
    .center
    {padding-left: 18px;
    padding-right: 18px;}
.basket-offer-buy{
    width: 90%;
}
.basket-item__desc{
    width: 90%;
}
.basket__header{
    width: 90%;
}
.basket__list{
    width: 90%;
}
.basket__actions{
    width: 90%;
}
.basket-offer-buy__button{
    width: 75%;
}

.card-body__article{
    width: 90%
}
.for__item{
    background-repeat: no-repeat;
    width: 90%;
}
.for__item_big{
    background-repeat: no-repeat;
    width: 90%;   
}
.footer{
    gap: 32px;
}
}