    $color-text: rgb(0, 0, 0);
    $text-font: Montserrat;
    $price-text: rgb(5, 5, 5);

    .basket-background {
        background: url(img/Basket-background.png), rgb(196, 196, 196);
        padding-bottom: 126px;

        &__title {
            color: rgb(255, 255, 255);
            max-width: 800px;
            font-family: $text-font;
            font-size: 64px;
            font-weight: 600;
            line-height: 70px;
            letter-spacing: 0%;
            text-align: left;
            margin-top: 64px;
        }

        &__line {
            height: 0;
            border: 0.5px solid rgba(255, 255, 255, 0.8);
        }

        &__list {
            display: flex;
            align-items: center;
            gap: 24px;
        }

        &__link {
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-family: $text-font;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0%;
        }
    }

    .basket {
        padding-top: 64px;
        margin-bottom: 64px;
        gap: 32px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        &__content {
            display: flex;
            flex-direction: column;
            grid-column: span 8;
            gap: 24px;
        }

        &__header {
            color: rgba(0, 0, 0, 1);
            font-family: $text-font;
            font-size: 16px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0px;
            text-align: left;
            display: flex;
            justify-content: space-between;
        }

        &__list {
            display: flex;
            flex-direction: column;
        }

        &__actions {
            display: flex;
            flex-wrap: wrap;
            gap: 14px;
        }

        &__action {
            align-self: center;
            display: flex;
            justify-content: center;
            width: 200px;
            height: 37px;
            margin-top: 18px;
            color: $color-text;
            font-family: $text-font;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            box-sizing: border-box;
            border: 1px solid rgb(4, 4, 4);
            border-radius: 20px;
            align-items: center;
            text-decoration-line: none;

            &--clear {
                background: transparent;
            }

            &--continue {
                padding-left: 5px;
            }
        }
    }

    .basket-item {
        border-top: 0.5px solid rgb(202, 205, 216);
        padding: 25px 0 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 16px;

        &__main {
            display: flex;
            gap: 32px;
        }

        &__image {
            display: block;
        }

        &__details {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: space-around;
        }

        &__title {
            color: $color-text;
            font-family: $text-font;
            font-size: 24px;
            font-weight: 500;
            line-height: 29px;
            letter-spacing: 0%;
            text-align: left;
        }

        &__desc {
            color: rgb(136, 136, 136);
            font-family: $text-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0%;
            text-align: left;
        }

        &__price {
            color: $price-text;
            font-family: $text-font;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0%;
        }

        &__actions {
            display: flex;
            flex-direction: row;
            gap: 30px;
        }

        &__action {
            color: $color-text;
            font-family: $text-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 210%;
            letter-spacing: 0px;
            text-decoration-line: underline;

            &--favorite,
            &--remove {
                text-decoration-line: underline;
            }
        }

        &__count {
            color: $color-text;
            font-family: $text-font;
            font-size: 14px;
            font-weight: 600;
            line-height: 210%;
            letter-spacing: 0px;
            text-align: left;
            width: 49px;
            padding-left: 22px;
            height: 51px;
            border-radius: 6px;
            border: none;
            background: rgb(247, 246, 246);
        }
    }

    .basket-offer-buy {
        border-radius: 20px;
        background: rgba(247, 246, 246, 1);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 556px;
        grid-column: span 4;

        &__title {
            color: rgba(0, 0, 0, 1);
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 0px;
            text-align: center;
            height: 36px;
            text-align: center;
            margin-top: 42px;
        }

        &__inputs {
            display: flex;
            flex-direction: column;
        }

        &__input {
            color: $color-text;
            font-family: $text-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0px;
            border: none;
            background: none;
            margin-bottom: 2.5px;
            padding-top: 35px;
            text-align: left;
            padding-left: 28px;
        }

        &__input::placeholder {
            color: $color-text;
        }

        &__line {
            border: 1px solid rgba(202, 205, 216, 1);
            height: 0;
            margin-left: 27px;
            margin-right: 27px;
        }

        &__total {
            color: rgba(0, 0, 0, 1);
            font-family: Montserrat;
            font-size: 24px;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: 0px;
            text-align: center;
            height: 36px;
            margin-top: 64.5px;
        }

        &__button {
            align-self: center;
            display: flex;
            justify-content: center;
            height: 41px;
            margin-top: 18px;
            color: $color-text;
            font-family: $text-font;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            box-sizing: border-box;
            border: 1px solid rgb(4, 4, 4);
            border-radius: 20px;
            align-items: center;
            text-decoration-line: none;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-top: 32px;

        &__header {
            display: flex;
            justify-content: center;
        }

        &__title {
            color: rgb(0, 0, 0);
            font-family: $text-font;
            font-size: 48px;
            font-weight: 600;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: left;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            gap: 32px;
        }

        &__item {
            display: flex;
            flex-direction: column;
        }

        &__image {
            width: 100%;
            background: rgb(196, 196, 196);
            object-fit: cover;
        }

        &__item-title {
            color: rgb(0, 0, 0);
            font-family: $text-font;
            font-size: 24px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: left;
            margin-top: 16px;
            margin-bottom: 10px;
        }

        &__item-desc {
            color: rgb(136, 136, 136);
            font-family: $text-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: left;
            width: 100%;
        }

        &__item-price {
            color: $price-text;
            font-family: $text-font;
            font-size: 24px;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: left;
            margin-top: 16px;
        }
    }